.dateIntervalPicker {
    max-width: 20rem;
}
.modal.calendarDialog {
    width: 100%;
    .dialogFormWrapper {
        width: 100%;
    }
    @media (min-width: 576px) {
        max-width: 40rem;
        padding: 2rem;
    }
}

.m-caps {
    text-transform: capitalize;
}
