.omsorgstilbudKalender {
    &__mnd {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid rgba(0, 0, 0, 0.55);
        &:first-child {
            padding-top: 0;
            margin-top: 0;
            border-top: none;
        }
    }
}

.calendarDialog {
    width: 100%;
    max-width: 45rem;
    padding: 2rem;
    .dialogFormWrapper {
        width: 100%;
    }
}

.--capitalize {
    text-transform: capitalize;
}

ul.clean {
    padding: 0 0 0 1rem;
    margin: 0;
    li {
        padding: 0.25rem 0;
        margin: 0;
    }
}

.calendarGrid--grid .calendarGrid__day {
    padding-bottom: 0;
}

.arbeidstid__aktivitet {
    margin-top: 3rem;
}

.yearHeader {
    font-size: inherit;
}

.compactRadios {
    .skjemaelement {
        margin-bottom: 0.5rem !important;
    }
}
